$small: 600px;
$light: #ccc;
$fill: #222;

.site-navbar {
    width: 100%;
    position: relative;
    background: $light;
}

.navbar-start, .navbar-end {
    display: flex;
    align-items: center;
}

.nav-item {
  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  a {
    display: block;
    padding: 1rem;
    border-left: 4px solid transparent;

    @media (min-width: $small) {
      text-align: center;
      border-left: 0;
      border-bottom: 4px solid transparent;
    }
  }

  svg {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    margin-right: 1rem;

    @media (min-width: $small) {
      display: block;
      margin: 0 auto 0.5rem;
    }
  }

  &.active {
    a {
      border-left-color: $fill;

      @media (min-width: $small) {
        border-bottom-color: $fill;
      }
    }
  }
}

.inactive-item {
  opacity: 0;
}

.nav-wrapper {
  @media (min-width: $small) {
    display: flex;
  }

  @media (max-width: $small - 1) {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: $light;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.5s ease-out;

    &.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.site-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (min-width: $small) {
    padding-top: 0;
    padding-bottom: 0;
  }
}


.nav-toggle {
  display: none;

  @media (max-width: $small - 1) {
    display: block;
    position: absolute;
    top: 12px;
    right: 20px;
  }
}